main, header,nav, article, aside, footer{
    border:4px solid rgb(52, 140, 255);
}
*{
    box-sizing: border-box;
}
body{
    font-family: Garamond;
}
header{
    grid-area: h;
    color: white;
    background-color:rgb(52, 181, 255) ;
    margin: 10px;
    text-align: center;
}
article{
    grid-area: a;
    padding: auto;
    padding: 4px;
    margin: 10px;
    background-color:rgb(52, 181, 255) ;

}
.kontener{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    margin: auto;
    grid-gap: 4px;
}
nav{
    grid-area: n;
    background-color: rgb(52, 140, 255) ;
    margin: 10px;
    font-size: 23px;
}
nav ul{
    list-style-type: none;
    list-style: none;
}
ol li{
    padding: 7px;
    text-align: justify;
}
nav li{
    display:inline-block;
}
 nav li a{
    text-decoration: none;
    padding: 10px;
    color: rgb(224, 224, 135) ;
}
nav a:hover{
    background-color: rgb(52, 181, 255);
}
aside{
    grid-area: as;
    padding: 2px;
    background-color:rgb(52, 181, 255) ;
    margin: 10px;
}
footer{
    grid-area: f;
    text-align: center;
    color:white ;
    background-color:rgb(52, 181, 255) ;
    margin: 20px;
}
img{
    border: 4px solid rgb(52, 140, 255);
}
table{
    text-align: center;
    padding-left: 100px;
}
main{
    margin: auto;
    max-width: 1000px;
        display: grid;
        grid-template-columns:  auto ;
        grid-template-areas:    "h h h h "
                                "n n n n"
                                "a a as as"
                                "f f f f ";
}
@media screen and (max-width:700px){
    main{
        grid-template-columns: auto auto auto auto;
        grid-template-areas:    "h"
                                "n"
                                "a"
                                "as"
                                "f";
    }
}